---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<section class="hero is-primary">
		<div class="hero-body">
			<h1 class="title">East of CT River</h1>
			<h2 class="subtitle">Community events and gatherings</h2>
		</div>
	</section>
	<div class="container is-fluid">
		<iframe frameborder="0" height="500px" width="100%" src="https://calendar.online/ea491b34c3f4ae2a09ab?iframe=true"></iframe>
	</div>
	<div class="box">
		<p>Comments, questions, or suggestions? Send an email to <span class="has-text-bold">eastofctriver@tuta.com</span></p>
	</div>
</Layout>
